body{
    background-color: #eb807c;
}

.container{
    display: flex;
    flex-direction: column;
    width: 95vw;
    align-items: center;
}

.title{
    text-align: center;
    padding-left: 50px;
    margin-bottom: 0;
}

.grid{
    height: 400px;
    width: 400px;
    background-color: #dcd6bc;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 50px;
    border: 10px solid #dcd6bc;
}

.grid div{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    height: 40px;
    width: 40px;
}
.valid {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}
  
.checked {
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
}
  
.bomb {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.flags{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;

}