body{
    background-color: #be96df;
}

.container{
    display: flex;
    width: 98vw;
}

.container-left{
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
}

.title{
    margin: 10px 0;
    font-family: monospace;
    font-size: 30px;
    font-weight: 600;
}

.grid{
    height: 400px;
    width: 400px;
    background-color: #dcd6bc;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #dcd6bc;
    margin: 10px 0 ;
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

.valid {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}
  
.checked {
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}
  
.bomb {
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}

.flags{
    font-size: 20px;
    font-family: monospace;
}

#result{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-top: 10px;
}

.container-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.instructions{
    margin: 0;
    font-size: 20px;
    font-family: monospace;
    line-height: 30px;
}

#startButton{
    margin: 20px 0;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 20px;
    background-color: greenyellow;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid black;
}

#resetButton{
    padding: 10px 10px;
    font-family: monospace;
    font-size: 20px;
    background-color: greenyellow;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid black;
}

.one, .five {
    color: #e76346;
}
  
.two, .six {
    color: #4199d3;
}
  
.three, .seven {
    color: #57da59;
}
  
.four, .eight{
    color: #bb41d3;
}
  